@import "../../app.scss";

.conteniar {
  z-index: 100;

  @extend %center;
  // background-color: $min-color;

  @extend %space;
  width: 100%;
  height: 60px;
  position: fixed;
  flex-direction: row-reverse;

  @keyframes tripl {
    0% {
      transform: translatey(9px);
    }
    50% {
      transform: translatey(4.5px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  .Logo {
    text-decoration: none;
    font-size: 30px;
    color: var(--font-color);
    font-weight: bold;
    padding: 15px;
    position: relative;
    display: inline-flex;

    .hat {
      transition: var(--trans);
      position: absolute;
      color: var(--bg1-color);
      top: 9px;
      right: 25px;
      transform: scale(1);
      animation: tripl 1s steps(9);
    }

    font {
      color: var(--font-color);
      font-size: 35px;
      font-weight: 700;
      font-style: italic;
    }
  }
  .Nav {
    position: absolute;
    top: 75px;
    width: 0;
    height: 290px;
    background-color: var(--bg1-color);
    margin: 0;
    transition: var(--trans);
    z-index: 99;
    &::before {
      content: "";
      transition: var(--trans);
      position: absolute;
      border-width: 20px;
      border-left-width: 0;
      border-right-width: 0;
      border-color: transparent transparent var(--bg1-color) transparent;
      top: -40px;
      border-style: solid;
      right: 11px;
    }

    ul {
      @extend %center;
      flex-direction: column;
      width: 100%;
      text-align: center;
      list-style: none;
      margin: 0;

      li {
        margin: 15px auto;
        &:last-child {
          margin-bottom: 0;
        }
        .links {
          color: var(--bg-color);
          padding: 10px;
          transition: var(--trans);
          text-decoration: none;
          font-size: 20px;
          color: var(--font-color);
          font-weight: bold;
          padding: 8px 15px;
          transition: var(--trans);
          &:hover {
            background-color: var(--font-color);
            border-radius: 6px;
            color: var(--bg1-color);
          }
        }
      }
    }
  }
  .colse {
    width: 20%;
    &::before {
      border-left-width: 15px;
      border-right-width: 15px;
    }
    @media (max-width: 797px) {
      width: 50%;
    }
  }

  .ham {
    font-size: 35px;
    color: var(--font-color);
    right: 10px;
    position: relative;
    cursor: pointer;
  }
  .move {
    animation: move 1s infinite linear;
    color: var(--bg1-color);
  }
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
