@import "../../app.scss";
.footer {
  width: 100%;
  height: 65px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  transition: var(--trans);
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: var(--bg1-color);
    // border: 1.5px solid var(--home-color);
    padding: 10px;
    border-radius: 9px;
    position: relative;
    cursor: pointer;
    transition: var(--trans);
    &:hover {
      background-color: var(--home-color);
      color: var(--font-color);
    }
    &:hover .icon {
      color: var(--font-color);
    }
    &:hover::before {
      animation: fill 0.5s infinite alternate;
      transition: var(--trans);
    }
    &:hover::after {
      animation: filla 0.5s infinite alternate;
      transition: var(--trans);
    }
    .icon {
      color: var(--bg1-color);
      margin-right: 5px;
      transition: var(--trans);
    }
    &::before {
      content: "";
      left: -37px;
      top: 17px;
      position: absolute;
      width: 25px;
      height: 25px;
      background-image: linear-gradient(
        var(--home-color) 50%,
        var(--font-color) 50%
      );
      border-radius: 50%;
      transition: var(--trans);
      animation: run 0.5s infinite alternate;
    }
    &::after {
      transition: var(--trans);
      animation: run 0.5s infinite alternate;
      content: "";
      right: -37px;
      top: 17px;
      position: absolute;
      width: 25px;
      border-radius: 50%;
      height: 25px;
      background-image: linear-gradient(
        var(--home-color) 50%,
        var(--font-color) 50%
      );
    }
  }
}
@keyframes run {
  to {
    top: 0;
  }
  from {
    top: 20px;
  }
}
@keyframes fill {
  to {
    left: -37px;
  }
  from {
    left: 3px;
  }
}
@keyframes filla {
  to {
    right: -37px;
  }
  from {
    right: 3px;
  }
}
